/* default css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}
body a:hover{
    text-decoration: underline;
}
body{
    background: #FFFFFF;
    font-family: 'Baloo Da 2', cursive;
    font-family: 'Baloo Da 2', Sans-serif;
}
img{
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 1280px;
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 30px;
}

/* top bar */
.topbar .container .row{
    margin: 20px auto;
}
.topbar .container .row .column{
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-gap: 8%;
}
.topbar .container .row .column .logo{

}
.topbar .container .row .column .logo a img{
    width: 95%;
    max-width: 200px;
    padding-right: 10px;
}
.topbar .container .row .search_bar{
    
}
.topbar .container .row .column .account{

}
.topbar .container .row .search_bar .form form .search_field input{
    width: 100%;
    height: 46px;
    outline: transparent;
}
.topbar .container .row .search_bar .form form .search_field input:focus::placeholder{
    color: transparent;
}
.topbar .container .row .search_bar .form form .search_field{
    position: relative;
}
.topbar .container .row .search_bar .form form .search_field i{
    position: absolute;
    top: 0;
    left: -55px;
    background: #DCDCDC;
    padding: 19px 18px;
    text-align: center;
    line-height: 50%;
    font-size: 20px;
    font-weight: 600;
}

.account .ac_inner{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 5px;
}
.account .ac_inner a i{
    font-size: 25px;
}
/* responsive nav */
.responsive_nav_section{
    margin-top: 15px;
}
.responsive_nav .logo_nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}
.responsive_nav .search_bar{
    display: none;
}
.responsive_nav{
    margin: 0 2%;
}
.responsive_nav .logo_nav_bar .nav_logo a img{
    width: 200px;
}
.responsive_nav .logo_nav_bar .bar_icon i{
    padding: 5px 5px;
    background: #205BCE;
    color: #FFF;
    cursor: pointer;
}
.responsive_nav .search_bar .form form .search_field input{
    width: 100%;
    padding: 12px 0;
    border: 10px solid #205BCE;
}
.responsive_nav .search_bar .form form .search_field input::placeholder{
    padding-left: 60px;
}
.search_bar .form form .search_field input:focus::placeholder{
    color: transparent;
}
.search_bar .form form .search_field input:focus-visible{
    padding-left: 55px;
}
.responsive_nav .search_bar .form form .search_field{
    position: relative;
    margin: 10px auto;
}
.responsive_nav .search_bar .form form .search_field i{
    position: absolute;
    top: 9px;
    left: 9px;
    background: #DCDCDC;
    padding: 15.5px 15px;
    text-align: center;
    line-height: 50%;
    font-size: 20px;
    font-weight: 600;
}

/* menu_bar */
.menu_bar{
    background: #205BCE;
    padding: 20px 0;
}
.main_menu .main_menu_ul{
    display: flex;
    justify-content: space-around;
    column-gap: 2%;
    flex-wrap: wrap;
}
.main_menu .main_menu_ul li{
    display: flex;
    flex-wrap: wrap;
}
.main_menu ul li a{
    color: white;
}
.main_menu .main_menu_ul li a{
    position: relative;
}
.main_menu .main_menu_ul .inner_menu_ul{
    position: absolute;
    top: 150px;
    left: auto;
    right: auto;
    background: white;
    box-shadow: 0px 0 5px #DCDCDC;
    visibility: hidden;
    transition: .3s;
}
.main_menu .main_menu_ul .inner_menu_ul li{
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}
.main_menu .main_menu_ul .inner_menu_ul li a{
    color: #205BCE;
    font-weight: 600;
}
.main_menu .main_menu_ul li:hover .inner_menu_ul{
    visibility: visible;
    display: block;
}
.main_menu .main_menu_ul .inner_menu_ul li:hover{
    background: #205BCE;
    color: white;
}
.main_menu .main_menu_ul .inner_menu_ul li:hover a{
    color: white;
}

/* Slider Section */
.slider_content{
    margin: 10px 20px;
    text-align: center;
}
.slider_content img{
    width: 100%;
}

/* genre_section */
.genre_title{
    margin-top: 100px;
    text-align: center;
}
.genre_title h2{
    font-size: 45px;
    font-weight: 500;
}
.genre_title img{
    margin: 20px auto;
    padding-bottom: 20px;
}
.genre_content img{
    max-width: 100%;
}

.genre_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 20px;   
}

/* New Product */
.new_title{
    margin-top: 100px;
    text-align: center;
}
.new_title h2{
    font-size: 45px;
    font-weight: 500;
}
.new_title img{
    margin: 20px auto;
    padding-bottom: 20px;
}
.new_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 35px;   
}
.new_content .new_details{
    text-align: center;
}
.new_content .new_details a img{
    max-width: 88%;
    background: #FCFCFC;
}
.new_content .new_details h6{
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    columns: rgb(48, 48, 48);
}
.new_content .new_details h5{
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    margin-top: 6px;
    margin-bottom: 20px;
}
.new_content .new_details .button{
    background: #205BCE;
    color: white;
    padding: 9px 9px;
}

/* special_section */
.special_main .special_inner{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

/* best Product */
.best_title{
    text-align: center;
}
.best_title h2{
    font-size: 45px;
    font-weight: 500;
}
.best_title img{
    margin: 20px auto;
    padding-bottom: 20px;
}
.best_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 35px;   
}
.best_content .best_details{
    text-align: center;
}
.best_content .best_details a img{
    max-width: 88%;
    background: #FCFCFC;
}
.best_content .best_details h6{
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    columns: rgb(48, 48, 48);
}
.best_content .best_details h5{
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    margin-top: 6px;
    margin-bottom: 20px;
}
.best_content .best_details .button{
    background: #205BCE;
    color: white;
    padding: 9px 9px;
}

/* video_content */
.video_main .video_inner{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4%;
}
.video_main .video_inner .video iframe{
    height: 460px;
}
.video_main .video_inner .text h2{
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    line-height: 44px;
}

.video_main .video_inner .text p{
    color: #303030;
    font-family: "Baloo Da 2", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    margin: 20px auto;
}

.video_inner .text .user_count{
    display: flex;
    justify-content: flex-start;
    column-gap: 20%;
    margin-bottom: 40px;
}

.video_inner .text .user_count .inner_count h2{
    color: #0A5BCE;
    font-family: "Baloo Da 2", Sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
}
.video_inner .text .user_count .inner_count h6{
    color: #000000;
    font-family: "Baloo Da 2", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;

}
.video_inner .text a{
    color: white;
    background: #205BCE;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 10px auto;
    transition: .04s;
}
.video_inner .text a:hover{
    background: white;
    color: #205BCE;
    border: 1px solid #205BCE;
}

.video_inner .text a .visible_icon{
    font-weight: 400;
    color: white;
    margin-left: 10px;
}
.video_inner .text a:hover .visible_icon{
    color: #205BCE;
}


/* orgaic Product */
.orgaic_title{
    text-align: center;
}
.orgaic_title h2{
    font-size: 45px;
    font-weight: 500;
}
.orgaic_title img{
    margin: 20px auto;
    padding-bottom: 20px;
}
.orgaic_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 35px;   
}
.orgaic_content .orgaic_details{
    text-align: center;
}
.orgaic_content .orgaic_details a img{
    max-width: 88%;
    background: #FCFCFC;
}
.orgaic_content .orgaic_details h6{
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    columns: rgb(48, 48, 48);
}
.orgaic_content .orgaic_details h5{
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    margin-top: 6px;
    margin-bottom: 20px;
}
.orgaic_content .orgaic_details .button{
    background: #205BCE;
    color: white;
    padding: 9px 9px;
}


/* care Product */
.care_title{
    margin-top: 100px;
    text-align: center;
}
.care_title h2{
    font-size: 45px;
    font-weight: 500;
}
.care_title img{
    margin: 20px auto;
    padding-bottom: 20px;
}
.care_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}
.care_content .care_details{
    text-align: center;
    margin: 50px 50px;
}
.care_content .care_details a img{
    max-width: 80%;
    background: #FCFCFC;
}
.care_content .care_details h6{
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    columns: rgb(48, 48, 48);
}
.care_content .care_details h5{
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    margin-top: 6px;
    margin-bottom: 20px;
}
.care_content .care_details .button{
    background: #205BCE;
    color: white;
    padding: 9px 9px;
}

/* review_section */
.review{
    background: #F3F7FC;
    padding: 80px 0;
    margin-top: 50px;
}
.review_title{
    text-align: center;
    margin-bottom: 50px;
}
.review_title h2{
    font-size: 45px;
    font-weight: 500;
    color: #000000;
}
.review .review_details{
    display: flex;
    justify-content: space-between;
    column-gap: 2%;
}
.review .review_details .review_inner{
    background: #FFF;
    padding: 25px 25px;
    width: 32%;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .05);
}
.review_details .review_inner .inner_star{
    color: #FFBF36;
    padding: 15px 0;
    font-size: 12px;
}
.review .review_details .review_inner h2{
    padding-top: 15px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}
.review .review_details .review_inner p{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

/* shops section */
.shops{
    padding: 80px 0;
}
.shop_main .shop_title{
    text-align: center;
    margin-bottom: 50px;
}
.shop_main .shop_title h2{
    font-size: 45px;
    font-weight: 500;
}
.shop_main .shop_details{
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
}
.shop_main .shop_details .inner_shop{
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}
.shop_main .shop_details .inner_shop .shop_image img{ 
    width: 100%;
    padding: 10px 0;
}
.shop_details .inner_shop .shop_content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    padding: 10px 18px;
}
.shop_details .inner_shop .shop_content h5{
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
}
.shop_details .inner_shop .shop_content i{
    font-size: 14px;
    line-height: 28px;
    height: 28px;
    width: 28px;
    color: rgb(10, 91, 206);
    border: 1px solid rgb(10, 91, 206);
    border-radius: 50%;
    text-align: center;
}
/* Footer top */
.footer_top_section{
    background: #0A5BCE;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.footer_top_section .footer_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.footer_top .inner_top{
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10%;
    border-right: 1px solid rgba(255, 255, 255, .2);
}
.footer_top .inner_top:nth-last-child(1){
    border-right: none;
}
.footer_top .inner_top .top_icon i{
    color: #FFF;
    font-size: 50px;
    font-weight: 600;
 }
 .footer_top .inner_top .top_content{
    text-align: left;
 }
 .footer_top .inner_top .top_content  h2{
    font-size: 22px;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 10px;
 }
 .footer_top .inner_top .top_content p{
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #E8E8E8;
 }

/* footer_bottom_section */
.footer_bottom_section{
    background: #0A5BCE;
    padding: 60px 0;
}
.footer_bottom_section .footer_main .footer_bottom{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    column-gap: 4%;
}
.footer_bottom_section .footer_main .footer_bottom h2{
    color: #FFF;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 25px;
}
.footer_bottom_section .footer_main .footer_bottom p{
    color: #E8E8E8;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}
.footer_bottom_section .footer_main .footer_bottom a{
    color: #E8E8E8;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    display: block;
}
.footer_main .footer_bottom .inner_bottom{
    width: 24%;
}
.footer_main .footer_bottom .logos .img1{
    width: 100px;
}
.footer_main .footer_bottom .logos .m_bank{
    display: flex;
    justify-content: flex-start;
    column-gap: 10%;
    height: 40px;
    margin-top: 20px;
}

/* copyright */
.copyright{
    background: #000000;
    padding: 20px 0;
    color: #FFFFFF;
}

/* mobile_logo */
.mobile_logo{
    background: #0A5BCE;
    padding: 150px 0;
    display: none;
}
.mobile_logo_main .mobile_loge_inner a i{
    font-weight: 600;
    color: #FCFCFC;
    font-size: 45px;
    margin-bottom: 20px;
}
.mobile_logo_main .mobile_loge_inner a h2{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}
.mobile_logo_main{
    display: flex;
    justify-content: space-around;
    text-align: center;
}


/*=======================Home Page Responsive Start========================*/
@media (max-width: 1100px) {
    .topbar .container .row .column .logo a img{
        width: 150px;
    }
}
@media (max-width: 1024px){
    .footer_top_section, .footer_bottom_section, .copyright{
        display: none;
    }
}
@media (max-width: 920px){
    .responsive_nav .search_bar{
        display: block;
    }
}
@media (max-width: 890px){
    .footer_top_section, .footer_bottom_section, .copyright{
        display: block;
    }
    .mobile_logo{
        display: block;
    }
}
@media (max-width: 767px) {
    .genre_main .genre_content{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }
    .new_prod_main .new_content{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }
    .special_main .special_inner :first-child{
        display: none;
        visibility: hidden;
    }
    .best_prod_main .best_content{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }
    .video_main .video_inner{
        flex-direction: column;
    }
    .video_main .video_inner .text{
        margin-top: 10px;
        text-align: center;
    }
    .orgaic_prod_main .orgaic_content{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        grid-gap: 20%;
    }
    .care_prod_main .care_content{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }
    .review_main .review_details{
        flex-direction: column;
        row-gap: 20px;
    }
    .review_main .review_details .review_inner{
        width: 100%;
        text-align: center;
    }
    .shop_main .shop_details{
        flex-direction: column;
        row-gap: 20px;
    }
    .footer_top_section, .footer_bottom_section, .copyright{
        display: none;
    }
    .mobile_logo{
        padding: 20px 0;
    }
    .menu_bar{
        background: white;
        width: fit-content;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 50%;
        border: 1px solid #ddd;
        box-shadow: 0 0 10px #444;
        left: -100%;
    }
    .main_menu .main_menu_ul{
        flex-direction: column;
        row-gap: 20px;
    
    }
    .main_menu .main_menu_ul li{
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    .main_menu .main_menu_ul li a{
        color: #205BCE;
        
    }
    .main_menu .main_menu_ul li .inner_menu_ul{
        margin-left: 50%;
        width: fit-content;
        width: 70%;
        box-shadow: 0 0 5px #444;
    }
    .topbar .container .row{
        display: none;
    }
    .responsive_nav .logo_nav_bar{
        display: block;
        display: flex;
        justify-content: space-between;
    }
    .responsive_nav .logo_nav_bar .nav_logo a img{
        width: 70%;
    }
    .bar_icon i:checked ~ .menu_bar{
        left: 0;
    }
    .bar_icon i:focus .menu_bar{
        left: 0;
    }

}
@media (max-width: 576px) {
    .mobile_logo_main .mobile_loge_inner a i{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .mobile_logo_main .mobile_loge_inner a h2{
        font-size: 12px;
    }
}

/*==================================product_section=======================*/
.product_section{
    padding-top: 60px;
}
.product_section .product_main{
    display: flex;
    justify-content: space-between;
    column-gap: 4%;
}
.product_section .product_main .image{
    width: 48%;
    padding: 40px 60px;
}
.product_section .product_main .product_content{
    width: 48%;
}
.product_main .product_content .content_inner h2{
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    color: #000000;
}
.product_main .product_content .content_inner p{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    color: #2D2D2D;
}
.product_main .product_content .content_inner h3{
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
    margin: 20px auto;
}
.product_content .content_inner .select_size{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.product_content .content_inner .select_size p{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.product_content .content_inner .contity{
    width: 50px;
    outline: none;
    border-color: transparent;
}
.product_content .content_inner .add_card{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    background: #205BCE;
    padding: 7px 12px;
    border-color: transparent;
    margin: 15px auto;
}
/* product checklist */
.checklist_main{
    padding: 30px 30px;
    margin: 30px 40px;
    border: 1px solid #205BCE;
}
.checklist_main h2{
    font-size: 25px;
    font-weight: 500;
    color: rgb(45, 45, 45);
}
.checklist_main .checklist_inner{
    display: flex;
    justify-content: space-around;
    column-gap: 2%;
}
.checklist_main .checklist_inner .check_box{
    padding: 25px 30px;
    text-align: center;
    background: #FFF;
    margin: 25px 10px;border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}
.checklist_main .checklist_inner .check_box p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(51, 51, 51);
}
.checklist_main .checklist_inner .check_box i{
    font-size: 33px;
    color: rgba(0, 0, 0, .3);
    line-height: 33px;
    margin-bottom: 25px;
}

/* product review */
.reviews_main{
    padding: 30px 30px;
    margin: 0 40px;
    border: 1px solid #205BCE;
}
.reviews_main h2{
    font-size: 25px;
    color: rgb(51, 51, 51);
    line-height: 32px;
    font-weight: 400;
}
.reviews_main .reviews_inner{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.reviews_main .reviews_inner .review_count h3{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: rgb(103, 103, 103);
    padding: 20px 20px;
}
.reviews_main .reviews_inner .review_count{
    background: #f5f6f9;
    margin-top: 20px;
}
.reviews_main .reviews_inner .reviewed_by{
    background: #f5f6f9;
    padding: 30px 0 30px 20px;
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
}
.reviews_main .reviews_inner .reviewed_by .user{
    text-align: center;
    width: 100px;
}
.reviews_main .reviews_inner .reviewed_by .user i{
    background: #C5C5C5;
    color: #FFFFFF;
    font-size: 50px;
    padding: 15px 10px 0 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .5);
}
.reviews_main .reviews_inner .reviewed_by .user h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.2px;
}
.reviewed_by .review_content .star_count i{
    color: #FFAF22;
}
.reviews_inner .reviewed_by .review_content h5{
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
}
.reviews_inner .reviewed_by .review_content h6{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(155, 155, 155);
    margin-bottom: 10px;
}
.reviews_inner .reviewed_by .review_content .date{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(155, 155, 155);
    display: flex;
    column-gap: 5px;
}
.reviews_inner .reviewed_by .review_content .date_verify{
    display: flex;
    column-gap: 28px;
}
.reviews_inner .reviewed_by .review_content .date_verify .verified{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    color: #12D585;
}
.reviews_main .reviews_inner .submit_review{
    background: #f5f6f9;
    padding: 30px 40px 30px 30px;
}
.reviews_main .reviews_inner .submit_review h2{
    font-size: 21px;
    font-weight: 600;
    line-height: 30px;
    color: #000;
}
.reviews_main .reviews_inner .submit_review p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #333;
}
.reviews_main .reviews_inner .submit_review .star_count{
    color: #FFAF22;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
    margin: 20px auto;
    font-size: 20px;
}
.reviews_main .reviews_inner .submit_review input{
    width: 100%;
    padding: 12px 0;
    margin: 8px auto;
    border-color: transparent;
}
.reviews_main .reviews_inner .submit_review input::placeholder{
    padding-left: 10px;
    font-size: 16px;
}
.reviews_main .reviews_inner .submit_review textarea{
    width: 100%;
    padding: 12px 0 150px 0;
    margin: 8px auto;
    border-color: transparent;
}
.reviews_main .reviews_inner .submit_review textarea::placeholder{
    padding-left: 10px;
    font-size: 16px;
}
.reviews_main .reviews_inner .submit_review button{
    background: #DFDCDE;
    color: #FFF;
    border-color: transparent;
    padding: 8px 14px;
    font-size: 17px;
    font-weight: 600;
    margin: 20px auto;
    opacity: 60%;
}
.reviews_main .reviews_inner .submit_review button:hover{
    opacity: 100%;
}

/* new product */
.new_prod_main{
    margin-bottom: 70px;
}
.new_prod_main .new_content .content_box{
    text-align: center;
}
.new_prod_main .new_content .content_box .box_data{
    height: 347px;
    overflow: auto;
}
.new_prod_main .new_content .content_box .box_data p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 15px 0 5px 0;
}
.new_prod_main .new_content .content_box .box_data img{
    background: #FCFCFC;
    padding: 20px 20px;
}
.new_prod_main .new_content .content_box .box_data h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: rgb(51, 51, 51);
}
.new_prod_main .new_content .content_box .box_border{
    height: 100%;
    width: 15px;
    position: relative;
}

/* Responsive Product Page */
@media (max-width: 767px) {
    .product_checklist .checklist_main .checklist_inner{
        flex-direction: column;
    }
    .reviews_main .reviews_inner .review_count{
        text-align: center;
    }
    .reviews_main .reviews_inner .reviewed_by{
        flex-direction: column;
    }
    .reviews_main .reviews_inner .submit_review textarea{
        padding-bottom: 50px;
    }
    .new_content .content_box .box_data img{
        width: 75%;
    }
}
@media (max-width: 539px) {
    .new_content .content_box .box_data{
        padding: 20px 20px;
    }
    .new_content .content_box .box_data h3 span{
        display: block;
    }
}


/* ====================Cart Page======================= */
/* cart_slider */
.cart_slider{
    background: #F9FCFE;
}
.cart_slider_main .cart_img{
    border: 1px solid #205BCE;
    width: 100%;
    max-width: 1000px;
    height: 650px;
    margin: 50px auto;
    text-align: center;
}
.cart_slider_main .cart_img img{
    width: 100%;
    height: 100%;
}
.shoping_cart{
    margin: 60px auto;
}
.shoping_cart_main{
    text-align: center;
}
.shoping_cart_main .cart_title{
    text-align: center;
}
.shoping_cart_main h2{
    font-size: 40px;
    font-weight: 500;
    color: #000;
    line-height: 62px;
}
.shoping_cart_main .cart_title .title_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F6F7;
    padding: 20px 20px;
    border-top: 3px solid #8FAE1B;
}
.shoping_cart_main .cart_title .title_box .title_checked{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
}
.shoping_cart_main .cart_title .title_box .title_checked i{
    color: #FFF;
    font-size: 12px;
    font-weight: 900;
    background: #8FAE1B;
    padding: 3px 3px;
    border-radius: 50%;
}
.shoping_cart_main .cart_title .title_box .title_checked h3{
    font-size: 20px;
    font-weight: 400;
    color: #515151;
}
.cart_title .title_box .title_btn a{
    color: rgb(81, 81, 81);
    font-weight: 700;
    font-size: 16;
    padding: 8px 12px;
    background: rgb(235, 233, 235);
    border-radius: 5px;
}
.shoping_cart_main .cart_content{
    margin: 20px auto;
}
.cart_content .table{
    width: 100%;
}
.cart_content .table img{
    width: 30px;
}
.cart_content .table i{
    color: rgb(255, 0, 0);
    font-size: 18px;
    font-weight: 900;
}
.cart_content .table a{
    text-align: center;
}
.cart_content .table i:hover{
    background: rgb(255, 0, 0);
    height: 23px;
    width: 23px;
    line-height: 23px;
    border-radius: 50%;
    color: #FFF;
    box-sizing: border-box;
}
.cart_content .table{
    border: 1px solid #ddd;
    border-bottom: transparent;  
    border-top: transparent;
    border-radius: 5px; 
}
.cart_content .table td, .table th{
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.cart_content .table td input{
    width: 40px;
    height: 30px;
    font-size: 17px;
    font-weight: 400;
    border: transparent;
}
.cart_content .table td button{
    color: rgba(0, 0, 0, .5);
    font-weight: 700;
    font-size: 18px;
    padding: 10px 15px;
    background: rgb(235, 233, 235);
    border-radius: 5px;
    border: transparent;
    float: right;
    cursor: pointer;
}
.shoping_cart_main{
display: block;
padding: 0;
margin: 0;
}
.shoping_cart_main .cart_total{
    float: right;
    width: 50%;
}
.shoping_cart_main .cart_total table{
    border: 1px solid #ddd;
    border-radius: 6px;
    border-top: none;
}

.shoping_cart_main .cart_total h5{
    font-size: 26px;
    line-height: 34px;
    color: rgb(51, 51, 51);
    font-weight: 400;
}
.shoping_cart_main .cart_total table td, table th{
    padding: 12px 12px;
    border-top: 1px solid #ddd;
    text-align: left;
}
.shoping_cart_main .cart_total table th{
    width: 30%;
    text-align: left;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(51, 51, 51);
}
.shoping_cart_main .cart_total table label{
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(51, 51, 51); 
}
.shoping_cart_main .cart_total table h6{
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(51, 51, 51);    
}
.shoping_cart_main .cart_total table span{
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(51, 51, 51);
    margin-top: 5px;
    display: block;
}
.shoping_cart_main .cart_total .proceed{
    width: 100%;
    background: #9c6a91;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    padding: 12px 0;
}
.shoping_cart_main .cart_total .proceed:hover{
    background: #96588A;
}
.shoping_cart_main .cart_total .proceed a{
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.cart_slider_main .cart_img img{
    max-height: 100%;
}        

/* -----------responsive cart----------------- */
@media (max-width: 1024px) {
    .cart_slider_main .cart_img{
        height: 250px;
    }
}
@media (max-width: 769px) {
    .cart_content .table img{
        display: none;
    }
    .shoping_cart_main .cart_total{
        width: 100%;
        text-align: right;
    }
    .shoping_cart_main .cart_total table td{
        width: 100%;
    }
    .shoping_cart_main .cart_total table th{
        width: auto;
    }
}


/* ============================checkout_page============================= */
.checkout_section{
    padding: 70px 0;
}
.checkout_main{
}
.checkout_main h2{
    font-size: 40px;
    font-weight: 500;
    color: #000;
    line-height: 62px;
    text-align: center;
}
.checkout_main .checkout_title{
    background: #F7F6F7;
    padding: 20px 20px;
    border-top: 3px solid #1E85BE;
    text-align: left;
}
.checkout_main .checkout_title h3{
    display: inline-block;
    margin-left: 10px;
    color: rgb(81, 81, 81);
    font-size: 17px;
    font-weight: 400;
}
.checkout_main .checkout_title i{
    color: #1E85BE;
    font-size: 19px;
}
.checkout_main .checkout_title a{
    font-size: 17px;
}
.checkout_main .checkout_address{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 5%;
    margin: 20px auto;
}
.checkout_main .checkout_address .billing_details{
    width: 47%;
}
.checkout_main .checkout_address select{
    border-color: #ddd;
}
.checkout_main .checkout_address .billing_details input, select{
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    color: rgb(0, 0, 0);
    margin: 10px auto;
    padding: 5px 0;
    border-color: transparent;
}
.checkout_main .checkout_address .new_address{
    width: 47%;
}
.checkout_main .checkout_address .new_address .new_addr_chack span{
    text-align: left;
}
.checkout_main .checkout_address .new_address input, select{
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    color: rgb(0, 0, 0);
    margin: 10px auto;
    padding: 5px 10px;
    border-color: transparent;
}
.checkout_main .checkout_address label{
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    color: rgb(0, 0, 0);
}
.checkout_address .billing_details, .new_address{
    width: 100%;
    text-align: left;
}
.checkout_main .checkout_address h3{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(51, 51, 51);
}
.checkout_main .checkout_address span{
    font-size: 25px;
    color: red;
    margin-left: 2px;
}
.checkout_main .checkout_address .names{
    display: flex;
    justify-content: flex-start;
    column-gap: 4%;
    width: 100%;
}
.checkout_main .checkout_address .first_name{
    width: 48%;
}
.checkout_main .checkout_address .last_name{
    width: 48%;
}
.checkout_main .checkout_address .names input{
    width: 100%;
    height: 40px;
    border-color: transparent;
}

.checkout_main .checkout_orders h5{
    font-size: 20px;
    color: rgb(51, 51, 51);
    font-weight: 400;
    line-height: 28px;
}
.checkout_main .checkout_orders table{
    border: 1px solid #ddd;
    border-top: transparent;
    border-bottom: transparent;
    border-collapse: collapse;
}
.checkout_main .checkout_orders{
    border-radius: 8px;
}
.checkout_main .checkout_orders table tr, table th, td{
    border-bottom: 1px solid #ddd;
}
.checkout_main .checkout_orders table label, h6{
    color: rgb(51, 51, 51);
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
}
.checkout_main .checkout_orders table th ,td{
    margin-right: 20px;
}
.checkout_main .checkout_orders table .td1{
    padding: 0 15px;
}
.checkout_main .checkout_info{
    margin-top: 20px;
    background: #EBE9EB;
    padding: 15px 15px;
}
.checkout_main .checkout_info .info_content label, p{
    padding: 15px 15px;
    color: rgb(51, 51, 51);
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}
.checkout_main .checkout_info p{
    background: #DFDCDE;
    margin: 15px auto;
    border-radius: 5px;
}
.checkout_main .info_btn{
    text-align: right;
    padding: 15px 15px;
    border-top: 3px solid #DEDBDE;
    background: #EBE9EB;
}
.checkout_main .info_btn button{
    border-color: transparent;
    background: #96588A;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    opacity: 90%;
    transition: .3s;
    cursor: pointer;
}

.checkout_main .info_btn button:hover{
    opacity: 100%;
}

/* -----------------Responsive checkout_page----------------- */
@media (max-width: 767px) {
    .checkout_main .checkout_address{
        flex-direction: column;
    }
    .checkout_main .checkout_address .new_address{
        width: 100%;
    }
    .checkout_main .checkout_address .billing_details{
        width: 100%;
    }
    .checkout_main .info_btn button{
        width: 100%;
    }

}

/* ===================user_section====================== */
.user_title_main{
    padding: 50px 0;
    background: #F9FCFE;
    text-align: center;
}
.user_title_main .user_title h2{
    font-size: 46px;
    font-weight: 500;
    color: #000;
}
.user_title_main .user_title img{
    width: 150px;
}
.user_main{
    padding: 50px 0;
}
.user_main .user_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user_main .user_content h2{
    font-size: 35px;
    font-weight: 400;
    color: #000000; 
}
.user_main .user_content .inner{
    margin: 30px auto;
    border: 1px solid #ddd;
    width: 100%;
    padding: 30px 30px;
    border-radius: 5px;
}
.user_main .user_content .register, .login{
    width: 46%;
}
.user_main .user_content input{
    width: 100%;
    background: #F7F7F7;
    border-color: transparent;
    height: 45px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.user_main .user_content .password{
    position: relative;
}
.user_main .user_content .password button{
    position: absolute;
    top: 5px;
    right: 10px;
    border-color: transparent;
    cursor: pointer;
}
.user_main .user_content .password button i{
    font-size: 10px;
}
.user_main .user_content .check{
    width: 12px;
    height: 12px;
}
.user_main .user_content .submit{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    border-color: transparent;
    padding: 8px 30px;
    margin-right: 15px;
    background: #5BC0DE;
    border-radius: 3px;
    cursor: pointer;
}
.register .gap{
    padding-top: 2px;
    color: transparent;
}

/* ------------------Responsive User page -------------- */
@media (max-width: 1024px) {
    .user_title_main .user_title img{
        width: 250px;
    }
}
@media (max-width: 767px) {
    .user_main .user_content{
        flex-direction: column;
        width: 100%;
    }
    .user_main .user_content .register, .login{
        width: 100%;
    }
}